<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vuitton</title>
    <meta
            name="viewport"
            content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="/static/aui/aui.css"/>
    <style>
        .cover {
            display: none;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .cover-image {
            display: block;
            max-width: 90%;
            max-height: 90%;
            margin: 5% auto auto;
        }
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" th:href="'/novel?novelPageKey='+${novelPageKey}">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title">Vuitton 网络小说</div>
</header>
<section class="aui-content" style="margin: 0.5rem">
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            <div class="aui-info">
                <div class="aui-info-item">
                    <img
                            th:src="${novelInfo.imgUrl}"
                            alt="无图片"
                            src=""
                            style="width: 2.5rem"
                            onclick="showCoverImg(this)"
                    />
                </div>
                <div style="display: flex; flex-direction: column; margin-left: 1rem">
                    <div style="font-size: 1.2rem; font-weight: 600" th:text="${novelInfo.name}"></div>
                    <div style="font-size: 0.8rem; font-weight: 500; margin-left: 0.2rem"
                         th:text="'作者: '+${novelInfo.author}"></div>
                </div>
            </div>
        </div>
        <div class="aui-card-list-content">
            <div>
                <p th:text="${novelInfo.intro}" style="text-indent: 2em"></p>
            </div>
            <div class="aui-timeline">
                <div class="aui-timeline-item-header">目录章节</div>
                <div class="aui-timeline-item" th:each="chapter : ${chapterList}">
                    <div
                            class="aui-timeline-item-label aui-bg-info aui-text-white"
                            th:text="'第'+${chapter.index+1}+'章'"
                    ></div>
                    <div class="aui-timeline-item-inner">
                        <h2 th:text="${chapter.name}"
                            th:onclick="|goNetworkNovelContent(${chapter.index})|"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="cover" class="cover" onclick="hideCoverImg()">
    <img id="cover-image" class="cover-image" src="" alt="无图片"/>
</div>
</body>
<script th:inline="javascript">

    function goNetworkNovelContent(chapterIndex) {
        window.location.href = "network_novel_content?" +
            "queryNetworkNovelStorageKey=" + [[${queryNetworkNovelStorageKey}]]
            + "&novelStorageKey=" + [[${novelStorageKey}]]
            + "&novelPageKey=" + [[${novelPageKey}]]
            + "&queryCatalogueStorageKey=" + [[${queryCatalogueStorageKey}]]
            + "&chapterIndex=" + chapterIndex
            + "&networkNovelInfoPageKey=" + [[${networkNovelInfoPageKey}]]
            + "&downloaderMark=" + [[${novelInfo.downloaderMark}]]
    }

    function showCoverImg(image) {
        document.getElementById("cover").style.display = "block";
        document.getElementById("cover-image").src = image.src;
    }

    function hideCoverImg() {
        document.getElementById("cover").style.display = "none";
    }
</script>
</html>