<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Vuitton</title>
    <meta
            name="viewport"
            content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/aui/aui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/image.css}"/>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" th:href="'/novel/network?networkNovelPageKey='+${networkNovelPageKey}">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title">Vuitton 网络小说</div>
    <a class="aui-pull-right aui-btn aui-btn-outlined">
        <span class="aui-iconfont aui-icon-paper"
              onclick="goNovelDownload()"></span>
    </a>
</header>
<section class="aui-content" style="margin: 0.5rem">
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            <div class="aui-info">
                <div class="aui-info-item">
                    <img
                            th:src="${novelInfo.imgUrl}"
                            alt="无图片"
                            src=""
                            style="width: 2.5rem"
                            onclick="showCoverImg(this)"
                    />
                </div>
                <div style="display: flex; flex-direction: column; margin-left: 1rem">
                    <div style="font-size: 1.2rem; font-weight: 600" th:text="${novelInfo.name}"></div>
                    <div style="font-size: 0.8rem; font-weight: 500; margin-left: 0.2rem"
                         th:text="'作者: '+${novelInfo.author}"></div>
                </div>
            </div>
        </div>
        <div class="aui-card-list-content">
            <div>
                <p th:text="${novelInfo.intro}" style="text-indent: 2em"></p>
            </div>
            <div class="aui-timeline">
                <div class="aui-timeline-item-header">目录章节</div>
                <div class="aui-timeline-item" th:each="chapter : ${chapterList}">
                    <div
                            class="aui-timeline-item-label aui-bg-info aui-text-white"
                            th:text="'第'+${chapter.index+1}+'章'"
                    ></div>
                    <div class="aui-timeline-item-inner">
                        <h2 th:text="${chapter.name}"
                            th:onclick="|goNovelContent(${chapter.index})|"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="cover" class="cover" onclick="hideCoverImg()">
    <img id="cover-image" class="cover-image" src="" alt="无图片"/>
</div>
</body>
<script th:src="@{/js/image.js}"></script>
<script th:inline="javascript">

    function goNovelContent(chapterIndex) {
        window.location.href = "novel_content?"
            + "queryNetworkNovelStorageKey=" + [[${queryNetworkNovelStorageKey}]]
            + "&networkNovelStorageKey=" + [[${networkNovelStorageKey}]]
            + "&networkNovelPageKey=" + [[${networkNovelPageKey}]]
            + "&queryCatalogueStorageKey=" + [[${queryCatalogueStorageKey}]]
            + "&chapterIndex=" + chapterIndex
            + "&networkNovelInfoPageKey=" + [[${networkNovelInfoPageKey}]]
            + "&downloaderMark=" + [[${novelInfo.downloaderMark}]]
    }

    function goNovelDownload() {
        window.location.href = "novel_download?"
            + "downloadNovelName=" + [[${novelInfo.name}]]
            + "&downloadNovelAuthor=" + [[${novelInfo.author}]]
            + "&downloadNovelIntro=" + [[${novelInfo.intro}]]
            + "&downloadNovelImgUrl=" + [[${novelInfo.imgUrl}]]
            + "&downloadNovelChapterUrl=" + [[${novelInfo.chapterUrl}]]
            + "&downloaderMark=" + [[${novelInfo.downloaderMark}]]
            + "&downloadStatus=1"
    }
</script>
</html>